.wall{
    background-color:rgb(107, 31, 88);
}
.player{
    background-color: green;
}
.goal {
    background-color: rgb(38, 14, 172);
}
.create {
    background-color: brown;
}
.space {
    background-color: black;
}
.box {
    height: 50px;
    width: 50px;
    float: left;
}

body{
    display: inline-block;

}
#log{ color: red;

   
 }